#left-panel.col-xs-12.col-md-6
  .calculator.width-270
    #no-history-btn.history-btn
      %i.fas.fa-history{ title: 'No history!' }
    #history-btn.history-btn{ "data-target" => "#history-modal-center", "data-toggle" => "modal" }
      %i.fas.fa-history{ title: 'History' }
    #decimal-toggle{ title: 'Decimal result toggle' }
      Decimal
      -#  History
    #expander{ title: 'Expand' }
      %i.fas.fa-chevron-right
      -#  >
    #shrinker{ title: 'Shrink' }
      %i.fas.fa-chevron-left
      -#  <
    .display-wrapper
      #last-formula-label{ title: '' }
        -#  Last formula
      %input#display{ type: 'text', onKeyDown: 'inputControl()', title: 'Display' }
    .row
      .col-6
      #error-label.col-6
        %span#syntax.d-none
          Incorrect syntax
        %span#division.d-none
          Dividing by zero!
    .keyboard-row.row
      #ce-btn.spec-btn.btn-col.col-3{ title: 'Clear' }
        CE
      #slash-btn.func-btn.btn-col.col-3{ title: 'Divide' }
        \/
      #backspace-btn.func-btn.btn-col.col-6{ title: 'Backspace' }
        %i.fas.fa-long-arrow-alt-left
        -#  <--
    .keyboard-row.row
      #left-bracket-btn.func-btn.btn-col.col-3{ title: 'Left bracket' }
        (
      #right-bracket-btn.func-btn.btn-col.col-3{ title: 'Right bracket' }
        )
      #power-btn.func-btn.btn-col.col-3{ title: 'Power' }
        x
        %sup y
        -#  **
      #divide-btn.func-btn.btn-col.col-3{ title: 'Divide' }
        %i.fas.fa-divide
        -#  รท
    .keyboard-row.row
      #seven-btn.btn-col.col-3{ title: 'Seven' }
        7
      #eight-btn.btn-col.col-3{ title: 'Eight' }
        8
      #nine-btn.btn-col.col-3{ title: 'Nine' }
        9
      #multiply-btn.func-btn.btn-col.col-3{ title: 'Multiply' }
        %i.fas.fa-times
        -#  *
    .keyboard-row.row
      #four-btn.btn-col.col-3{ title: 'Four' }
        4
      #five-btn.btn-col.col-3{ title: 'Five' }
        5
      #six-btn.btn-col.col-3{ title: 'Six' }
        6
      #substract-btn.func-btn.btn-col.col-3{ title: 'Substract' }
        %i.fas.fa-minus
        -#  -
    .keyboard-row.row
      #one-btn.btn-col.col-3{ title: 'One' }
        1
      #two-btn.btn-col.col-3{ title: 'Two' }
        2
      #three-btn.btn-col.col-3{ title: 'Three' }
        3
      #add-btn.func-btn.btn-col.col-3{ title: 'Add' }
        %i.fas.fa-plus
        -#  +
    .keyboard-row.row
      #decimal-separator-btn.btn-col.col-3{ title: 'Decimal separator' }
        \.
      #zero-btn.btn-col.col-3{ title: 'Zero' }
        0
      #space-btn.btn-col.col-3{ title: 'Space' }
        _
      #result-btn.spec-btn.btn-col.col-3{ title: 'Calculate' }
        %i.fas.fa-equals
        -#  =
#right-panel.col-xs-12.col-md-6
  #readme
    .readme-title
      Readme
    .readme-content
      .summary
        .readme-heading Welcome to Fractastic!
        This calculator treats all numbers you input as common fractions,
        even floating point numbers like #{special '2.3'}
      .basic-syntax
        All number literals (individual numbers) in your formula #{bold 'have to'} be surrounded by parentheses like so: 
        #{special '(-2/3) + (5) * (1 2/3) - (1.2)'}
      %div
        Thankfully this calculator is smart enough to aid you in that by inserting necessary parentheses for as you write your formula most of the time.
      .operators
        There are #{bold 'five'} fully supported operations:
        %dl.row
          %dt.col-5 Addition
          %dd.col-7 '+' press #{special '+'}
          %dt.col-5 Substraction
          %dd.col-7 '-' press #{special '-'}
          %dt.col-5 Multiplication
          %dd.col-7 '*' press #{special '*'}
          %dt.col-5 Division
          %dd.col-7 'รท' press #{special 'Shift + /'}
          %dt.col-5 Exponentiation
          %dd.col-7 'x^y' press #{special '^'}
      .formulas
        Common fractions should be formatted like this: #{special '(5 1/2)'}
        Where #{special '5'} is the #{bold 'whole part'}, followed by a space, #{special '1'}
        is the #{bold 'numerator'} separated from the #{bold 'denominator'} (being
        #{special '2'}) by a slash #{special '/'} which represents a fraction bar.

      .history-guide
        %i.fas.fa-history
        \- pressing this icon grants you entry to the formulas and results currently stored in the calculators memory.
        At least for now, memory covers only your current session, so #{bold 'if you refresh the page all of your calculations are lost'}.

      .decimal-toggle-part
        Pressing the #{special 'Decimal'} button will make the calculator return results as decimal fractions.
        This button is just a simple toggle, so you can always set it back to show results as common fractions by simply
        pressing the button a second time.

      .readme-heading Technical details
      
      .technical-details
        This site has been coded in #{bold 'Ruby on Rails'} as a side project for fun.
        It's  nothing more than a quick demo of my #{bold 'ruby gem'} #{special 'fractify'}
        %div
          The 'heart' of this calculator is not really in integral part of this site, it's hidden
          as a part of the #{special 'fractify'} gem. This app has a single endpoint which receives asynchronous AJAX
          requests from this calculator view. 
        %div
          Server then just passes the gathered formula to the #{special 'fractify'} gem, specifically
          the #{special 'Fractify::Calculator.evaluate'} method which analyses it and returns the result (if there is any).
        %div
          If you're interested in this gem you can find it on my #{special 'GitLab'} and test it on your own by
          downloading it through #{special 'rubygems.org'}
      


